.header-container{
  overflow: hidden;
  padding: 20px 0;
}
.header-container > span{
  float: right;
}
.header-title{
  float: left;
  margin: 0;
}
.button-container{
  margin-top: 20px;
}
.btn-left{
  float: left;
}
Button{
  float: right;
}