.item-grid{  
  margin: 0px 20px 10px 0px;
}
.item-paper{  
  width: 50px;
  padding: 24px;
}
.quiz-list-container > h3{
  margin: 0;
  float: left;
}
.chat-img{
  width: 30px;
  float: right;
}
.quiz-list-container{
  overflow: hidden;
  padding: 1em 0;
}