.css-blue{
  color: #64b5f6 !important;
  font-family: NanumSquare;
}
.bg-yellow{
  background-color: #fff176 !important;
}
.bg-blue{
  background-color: #64b5f6 !important;
}
.layout{
  max-width: 600px;
  margin: auto;
}